{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Deutsch.Core</title>
<!-- Favicons -->
<link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
<!-- CSS Vendor -->
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
<!-- Custom Styles -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- HTMX -->
<script src="{% static 'vendor/htmx/htmx.min.js' %}"></script>