{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
    <div class="container">
        <!-- Логотип -->
        <a class="navbar-brand fw-bold" href="{% url 'index' %}">DEUTSCH.CORE</a>

        <!-- Бургер -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Содержимое -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <!-- Блок приветствия (только для десктопа) -->
                {% if user.is_authenticated %}
                    <!-- Ссылка в админку для администраторов -->
                    {% if user.is_staff %}
                    <li class="nav-item me-3">
                        <a class="nav-link badge bg-danger text-white" href="{% url 'admin:index' %}" target="_blank">
                            {% trans "Admin Panel" %}
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item d-none d-lg-block me-2">
                        <span class="navbar-text text-light opacity-75 small">
                            {% blocktrans with name=user.display_name%}Hallo, {{ name }}{% endblocktrans %}
                        </span>
                    </li>
                {% endif %}

                <!-- Включаем наши части -->
                {% include 'includes/_language_switcher.html' %}
                {% include 'includes/_user_menu.html' %}
            </ul>
        </div>
    </div>
</nav>