{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm p-4">
            <h3 class="fw-bold mb-4">Настройки профиля</h3>
            <form method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-6">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                </div>
                {{ form.email|as_crispy_field }}
                {{ form.language|as_crispy_field }}

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    <a href="{% url 'units-list' %}" class="btn btn-link text-muted">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}